.folderContainer {
  display: flex;
  margin-top: 1rem;
}

.folder {
  display: flex;
  align-items: center;

  .img {
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
  }

  .count {
    font-size: 1rem;
    font-weight: 600;
    color: #050504;
  }

  .label {
    font-size: 0.75rem;
    color: #707066;
  }
}
