.card {
  padding: 16px;
  background-color: #fff;
  box-shadow: -0.5px -0.5px 4px rgba(0, 0, 0, 0.2); /* Shadow mostly at the top and left */
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 400px;
  position: relative;

  &:hover {
    transform: scale(1.001);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1); /* Shadow switches to bottom and right */
    cursor: pointer;
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  span {
    padding-top: 3px;
  }

  svg {
    color: gray;
    cursor: pointer;
  }
}

.stepper {
  background-color: aqua;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;

  .footerHeading {
    align-self: flex-end;
    padding-bottom: 4px;
  }
}
