.card {
  padding: 16px;
  background-color: #fff;
  box-shadow: -0.5px -0.5px 4px rgba(0, 0, 0, 0.2); /* Shadow mostly at the top and left */
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 400px;
  position: relative;

  &:hover {
    transform: scale(1.001);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1); /* Shadow switches to bottom and right */
    cursor: pointer;
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  span {
    padding-top: 3px;
  }

  svg {
    color: gray;
    cursor: pointer;
  }
}

.stepper {
  background-color: aqua;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;

  .footerHeading {
    align-self: flex-end;
    padding-bottom: 4px;
  }

  .arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background: #5876b7;
    transition: all 0.3s ease-in-out;
    position: relative; /* Needed for pseudo-element positioning */
    overflow: hidden; /* Ensure the pseudo-element is contained within the button */

    &:hover {
      background: #334876;
    }

    &:active::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid #fff; /* Border color and width */
      border-radius: 4px; /* Match the button's border-radius */
      animation: borderShrink 0.3s forwards; /* Trigger the animation */
    }

    /* Define the animation */
    @keyframes borderShrink {
      0% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      100% {
        top: 2px; /* Adjust as needed */
        right: 2px; /* Adjust as needed */
        bottom: 2px; /* Adjust as needed */
        left: 2px; /* Adjust as needed */
      }
    }
  }
}
